.motivationalLink {
  text-decoration: none;
  color: black;
  display: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.motivationalLink.active {
  color: var(--black);
  display: block;
  padding: 6px;
}

.motivationalLink h1 {
  color: #5469e3;
  font-size: 50px;
}

.motivationalLink h1 span {
  color: #1b35cc;
  font-size: 50px;
}

.motivationalLink .quote-container {
  color: #1b35cc;
  font-size: 20px;
  padding: 0 200px;
}

@media (min-width: 320px) {
  .motivationalLink .quote-container {
    padding: 0;
  }
}
