.wisdomLink {
  text-decoration: none;
  color: black;
  display: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.wisdomLink.active {
  color: var(--black);
  display: block;
}

.wisdomLink h1 {
  color: #5469e3;
  font-size: 50px;
}

.wisdomLink h1 span {
  color: #1b35cc;
  font-size: 50px;
}

.wisdomLink .quote-container {
  color: #1b35cc;
  font-size: 20px;
}
