body {
  background-color: #cbd2fd;
}

.motivationalDiv {
  cursor: pointer;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid #091b80;
  background-color: #1b35cc;

  background-image: linear-gradient(
    to right,
    #091b80,
    #1b35cc,
    #2142ff,
    #2131ff
  );
}

.humorDiv {
  cursor: pointer;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid #091b80;
  background-color: #1b35cc;

  background-image: linear-gradient(
    to right,
    #091b80,
    #1b35cc,
    #2142ff,
    #2131ff
  );
}

.positiveDiv {
  cursor: pointer;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid #091b80;
  background-color: #1b35cc;

  background-image: linear-gradient(
    to right,
    #091b80,
    #1b35cc,
    #2142ff,
    #2131ff
  );
}

.leadershipDiv {
  cursor: pointer;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid #091b80;
  background-color: #1b35cc;

  background-image: linear-gradient(
    to right,
    #091b80,
    #1b35cc,
    #2142ff,
    #2131ff
  );
}

.homeDiv {
  cursor: pointer;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid #091b80;
  background-color: #1b35cc;
  background-image: linear-gradient(
    to right,
    #091b80,
    #1b35cc,
    #2142ff,
    #2131ff
  );
  border-radius: 20px 20px 0 0;
}

.wisdomDiv {
  cursor: pointer;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid #091b80;
  background-color: #1b35cc;
  background-image: linear-gradient(
    to right,
    #091b80,
    #1b35cc,
    #2142ff,
    #2131ff
  );
  border-radius: 0 0 20px 20px;
}
.tab-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tab-links {
  padding-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
