.motivationalDiv {
  cursor: pointer;
}

.humorDiv {
  cursor: pointer;
}

.positiveDiv {
  cursor: pointer;
}

.leadershipDiv {
  cursor: pointer;
}

.homeDiv {
  cursor: pointer;
}

.wisdomDiv {
  cursor: pointer;
}
